body {
    width: 100%;
    background: #fff6f5;
}

li > a:hover {
    background-color: #333;
    color: white;
} 
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.title-dev {
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e6dedd;
    padding: 42px;
    background-color: #333;
}
.sobre {
    text-align: justify;
    margin: 20px;
    border: 2px solid #f1f1f1;
    padding: 10px;
    font-size: 20px;
}
