body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(213, 225, 231));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'cabecalho' 'main' 'footer';
}

main {
    grid-area: main;
}

.cabecalho {
    grid-area: cabecalho;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    background: #2c3e50;
    border-bottom: solid 3px royalblue;
    height: 60px;
    position: -webkit-sticky; /* safari */
    position: sticky;
    top: 0px;
    opacity: 0.9;
    z-index: 1;
}

.title {
    flex-grow: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggler {
    display: none;
}

h1 {
    margin: 5px;
}

.nome  h1 a {
    text-align: center;
    font-size: 1.0em;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.nav {
    flex-grow: 6;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    
}

.nav ul li {
    list-style-type: none;
    margin: 0 10px;
    padding: 0 10px;
}

.nav ul li a {
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
    color: #fff;
}

.nav ul li a:hover {
    color: royalblue;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    grid-template-areas:  "sobre habilidades" 
    "formacao  formacao-complementar"
    "contato contato";
}

section {
    box-sizing: border-box;
    margin: 0 20px;
}

article header {
    margin: 80px 10px 5px 10px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 2px;
}

h2 {
    margin: 0;
}

.habilidades {
    grid-area: habilidades;
}

.sobre {
    grid-area: sobre;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px;
    margin-top: 5px;
}
.list-item {
    list-style-type: none;
    height: 100px;
    width: 100px;   
    margin: 5px;
    padding: 10px;
    border: solid 1px royalblue;
    border-radius: 10%;
}

.list-item img {
    height: 100%;
    width: 100%;
}

.sobre .conteudo-article {
    margin: 0 20px;
    font-size: 1.5em;
}

.conteudo-article p {
    margin-top: 0;
    text-align: justify
}

.formacao-academica {
    grid-area: formacao;
}

.formacao-complementar {
    grid-area: formacao-complementar;
}

/* Card de cursos */
.list-card {
    margin: 0 0px;
    width: 100%;
}

.card {
    display: flex;
    vertical-align: top;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid 1px #ccc;
    box-shadow: 0px 4px 20px  #bbb;
    width: auto;
    height: 120px;
    margin: 20px 20px;
    padding: 5px;
}
.card img {
    width: 30%;
    height: auto;
}
.card-info {
    padding: 5px;
    width: 90%;
}
.card-info h4 {
    font-size: 0.8em;
    font-weight: 700;
    margin: 0px 5px;
}   

.loading-bar {
    position: relative;
    margin: 10px 5px;
    background-color: #adb1b6;
    width: 90%;
    height: 20px;
    border-radius: 15px;
    z-index: -1;
}
.progress {
    position: absolute;
    background-color: #71d884;
    height: 100%;
    width: 0%;
    border-radius: 15px;   
    box-shadow: -3px 0px 2px  #71d884;
    font-size: 0.8em;
    text-align: center;
}
.progress-active {
    animation: progress-animation 5s;
}

@keyframes progress-animation{
    0% { width: 0%; }
    
    100% { width: width}
    
}
#contato {
    grid-area: contato;
}
.contato ul {
    list-style: none;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.contato li {
    height: 100px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contato li img {
    margin: 10px;
    width: 50px;
}
.contato li a {
    text-decoration: none;
    color: royalblue;
}
footer {
    grid-area: footer;
    
    text-align: center;
    background: #2c3e50;
    border-top: solid 3px royalblue;
    height: 60px;
    color: #fff;
    letter-spacing: 2px;
    opacity: 0.9;
}

/* Versão mobile */
@media (max-width: 768px){  
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "sobre" "habilidades" "formacao" "formacao-complementer" "contato"
    }    
    
    .cabecalho {
        display: inline-block;
    }

    .nome {
        font-size: 1.0em;
    }

    .menu-toggler {
        display: block;
        position: fixed;
        top: 5px;
        left: 5px;
        margin: 0;
        color: #ccc;
        background-color: #2c3e50;
        font-size: 2.0em;
    }

    .nav {
        position: fixed;
        top: 60px;
        left: -60%;
        width: 50%;
        padding: 0 2% 0 5%;
        background: #2c3e50;
        color: #FFF;
        height: 100%;
        -webkit-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -moz-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          -ms-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);	
          -o-transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: all 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
       }

       .nav-active {
        left: -3px;
        -webkit-box-shadow: 0 0 50px 0 #000;
        box-shadow: 0 0 50px 0 #000;
      }

      .close-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 60%;
        right: 0; 
      }

      .nav ul {
        flex-direction: column;
        padding: 0;
    }
    
    .nav ul li {
        margin: 20px;    
    }
    
    .contato ul li {
        display: flex;
        flex-direction: column;
        align-items: center;        
    }
}
@media (max-width: 415px) {    
    .contato ul {
        display: block;
        text-align: center;
    }
    
    .contato li a {
        color: royalblue;
    }
    
    .contato img{
        width: 100%;
    }
}

